/* Write your CSS here */
.not-found-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.img-not-found {
  width: 50%;
}
.text-not-fnd {
  color: #616e7c;
}
.not-fnd-h1 {
  font-weight: 500;
}
